<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Menu Item</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="pane">
        <h1>New Menu Item</h1>
        <form action="{{url_for('new_menu_item', restaurant_id=restaurant_id)}}" method="POST">
            <p>
                <label for="name">Name:</label><br>
                <input type="text" name="name" value=""> <a href="{{url_for('show_menu', restaurant_id=restaurant_id)}}">Cancel</a>
            </p>
            <p>
                <label for="description">Description:</label><br>
                <textarea name="description" rows="5"></textarea>
            </p>
            <p>
                <label for="price">Price:</label><br>
                <input type="text" name="price" value="">
            </p>
            <p>
                <label for="course">Course:</label><br>
                <input type="text" name="course" value="">
            </p>
            <input type="submit" name="submit" value="Create Menu Item">
        </form>
    </div>
</body>
</html>